<div class="card bg-dark text-white text-center">
    <img class="card-img opacity-75" alt="Stony Beach"  src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-08/sporting-news-2022-photo-with-watermark-c4718614-1def-4658-8d32-823f0e4e1d61.png?itok=2YT4X7Dk;" />
    <div class="card-img-overlay">
        <h5 class="card-title">Bienvenidos a Informe de Torneo</h5>
        <p class="card-text">
            Los invito a divagar por esta pagina ofreciendo ingresar sus torneos favoritos 
        </p>
    </div>
</div>